@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
      @apply dark:bg-gradient-to-b from-[#180F0B]	 via-[#040200] to-[#121212]
      dark:text-white bg-gray-100 text-bg-color
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: ease-in-out;
}
.shadow-custom2{
  -webkit-box-shadow: 1px 1px 25px 1px rgba(242,96,39,1);
-moz-box-shadow: 1px 1px 25px 1px rgba(242,96,39,1);
box-shadow: 1px 1px 25px 1px rgba(242,96,39,1);
}
.shadow-custom{
  
-webkit-box-shadow: 1px 1px 30px -5px rgba(245,223,215,1);
-moz-box-shadow: 1px 1px 30px -5px rgba(245,223,215,1);
box-shadow: 1px 1px 30px -5px rgba(245,223,215,1);
}